
.container{

    width: 100%;
    background-color: white;

}

.div-container{

    width: fit-content;
    padding: 20px;
    height: fit-content;
    background-color: rgb(226, 235, 235);
    display: flex;
    column-gap: 20px;
  
}

.inner-div{

    width: calc(30%);
    padding: 30px;
    height:fit-content;
    background-color: aliceblue;
    border-radius: 10px;
    
}
.dropdown{
    width: 20px;
    height: 30px;
  background-color: azure;


}