
.container{

    width: 100%;
    background-color: wheat;


}

.table-conatiner
{
    border: 1px solid gray;
    border-collapse: collapse;
    width: 100%;
}

td,th
{
    border: 1px solid gray;
    padding: 10px;
}