.header{
    width: 2100px;
    padding: 20px 100px;
    background-color: gray;
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: center;

}
.navigation{

    list-style: none;
    display: flex;
   width: fit-content;
   column-gap: 20px;
}


