
<app-header/>
<div class="form-container">

    <form class="form" [formGroup]="bookForm">


   <input type="text" class="inp" placeholder="Enter the Book Name" [formControl]="name" >
  

   @if (f.name.invalid && (f.name.dirty || f.name.touched)) {
       <div>
        <p>Author name is required</p>
       </div>
   }
  

   <input type="text" class="inp" placeholder="Enter Author Name" [formControl]="author" >

   <input type="text" class="inp" placeholder="Enter Book Proce" [formControl]="price" >


   <button type="submit" class="btn"  (click)="createBook()">Create Book</button>


    </form>

</div>

